.tutis-filter-form input.tutis-input-field,
.tutis-filter-form select.tutis-input-field {
    width: 100%;
    display: block;
    padding: 9px 10px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    text-decoration: none solid rgb(18, 18, 18);
    text-transform: capitalize;
    background: transparent;
    font-weight: 400;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    max-width: 100%;
    height: 42px;
    line-height: 1.4;
}

.tutis-filter-form select.tutis-input-field {
    padding: 10px;
}

.tutis-col {
    display: grid;
    margin-bottom: 15px;
    grid-column-gap: 15px;
}

.tutis-two-col {
    grid-template-columns: 1fr 1fr;
}

.tutis-two-col-half {
    grid-template-columns: 30% 1fr;
}

.tutis-three-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.tutis-filter-form {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.tutis-input-disabled {
    background-color: #d1d3d4;
} 

input.tutis-input-date-range::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #121212;
    opacity: 1; /* Firefox */
}

input.tutis-input-date-range:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #121212;
}

input.tutis-input-date-range::-ms-input-placeholder { /* Microsoft Edge */
    color: #121212;
}

.tutis-filter-select select,
.tutis-filter-select input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.tutis-filter-select {
    position: relative;
}

 
.tutis-filter-select::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 12px;
    height: 13px;
    bottom: 0;
    margin: auto 0;
    line-height: 1;
}

.tutis-grid-table a.tutis-btn {
    margin: 0 !important;
}


.tutis-grid-table {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 1fr 1fr;
    clear: both;
}

.tutis-grid-table > div {
    padding: 8px 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    padding: 15px;
}

.tutis-grid-table > div.heading {
    background-color: #0062cc;
    border: 0;
}

.tutis-grid-table .heading strong {
    color: #ffffff;
}

.tutis-grid-table > div.padded {
    padding: 17px 10px;
}

.tutis-result {
    max-width: 900px;
    margin: 0 auto;
}

.tutis-grid-table .tbbody {
    background-color: #fafafa;
    border-left: 1px solid #dddddd;
    margin: 11px 0 0;
    padding: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.tbbody.active {
   background: #CEDAF1;
}

.tutis-grid-table .tbbody.first {
    border-left: 11px solid #fafafa;
}

.tutis-grid-table .tbbody.first.active {
    border-left: 11px solid #0062cc;
}

.expand {
    margin-right: 10px;
    font-size: 18px;
    pointer-events: none;
}

.tbbodycontent {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #C4D0E8;
    border-left: 11px solid #0062cc;
    grid-column-gap: 10px;
    display: none;
}

.tbbodycontent.tbbodycontentpre {
    grid-template-columns: 1fr;
}

.tutis-grid-table .tbbodycontent.tbbodycontentpre p {
    margin-bottom: 5px;
}

.tbbodycontent.tbbodycontent-pad-remove {
    padding-bottom: 0;
}

.tbbodycontent p {
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.tutis-grid-table .tbbodycontentcol p {
    margin-bottom: 10px;
}   

.tutis-grid-table strong {
    font-weight: 500;
}

.tutis-grid-table .tbbodycontentcol strong {
    font-weight: 700;
}

.tbbodycontent p span {
    font-weight: 400;
}

.tbbodycontentcol p:last-of-type {
    margin-bottom: 0;
}

.content-show {
     display: grid;
}

.tutis-input-disabled {
    pointer-events: none;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../loader.gif') 50% 50% no-repeat #f9f9f9;
    opacity: .8;
    display: none;
    max-width: 100% !important;
}

.tutis-pagination { 
    grid-column: 1/7;
    text-align: center;
    padding: 15px;
}

.tutis-pagination .page-numbers {
    font-size: 18px;
    font-weight: 400;
    color: #0062cc;
    background: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    line-height: 1.3;
    border: 1px solid #0062cc;
}

.tutis-result .tutis-pagination a.page-numbers,
.tutis-result .tutis-pagination span.page-numbers {
    box-sizing: unset;
    text-decoration: none;
}

.tutis-pagination .page-numbers:hover {
    color: #ffffff;
    background: #0062cc;
}

.tutis-pagination .page-numbers.current {
    color: #ffffff;
    background: #0062cc;
}

.tbbodycontent .tbbodycontentcol .title {
    font-weight: 400;
}

.tbbody span {
    line-height: 1.2;
}

.tutis-grid-table .tutis-btn.display-mobile {
    display: none;
}

.student-result-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 20px;
}

form a.tutis-btn,
form button.tutis-btn,
form input.tutis-btn,
.tutis-result a.tutis-btn {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none !important;
}

form input#searchbtn {
    color: #0069d9;
    background-color: #ffffff;
    border-color: #0062cc;
}

form input#searchbtn:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

form button.tutis-btn:focus, 
form input.tutis-btn:focus {
    background: #0062cc;
    outline: none;
    outline-offset: 0;
}

form a.tutis-btn:hover,
form button.tutis-btn:hover,
form input.tutis-btn:hover,
.tutis-result a.tutis-btn:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}

.multisteps-form-btn-field.align-right {
    text-align: right;
}

.step-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.step-col-2 .right-col {
    text-align: right;
}

.tutis-button-field {
    text-align: right;
}

.tutis-delete-student i {
    color: red;
}

.multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    margin-bottom: 20px;
}

.multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.tbbody.first {
    cursor: pointer;
}

.multisteps-form {
    max-width: 900px;
    margin: 0 auto;
    width: 95%;
}

.multisteps-form h2,
.multisteps-form h3,
.multisteps-form h4 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2c2c2c;
}

.multisteps-form p,
.multisteps-form span {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
}

.multisteps-form .student-result-list p {
    margin-bottom: 10px;
}

.multisteps-form .multisteps-form-field input,
.multisteps-form .multisteps-form-field select {
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    text-decoration: none solid rgb(18, 18, 18);
    background: transparent;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.multisteps-form .multisteps-form-field input.input-error {
    border: 1px solid #FF0000;
}

.multisteps-form .multisteps-form-field input:not(input[type="radio"]), 
.multisteps-form .multisteps-form-field select {
    height: 42px;
}

.multisteps-form .multisteps-form-field select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    z-index: 1;
    position: relative;
    cursor: pointer;
    padding: 10.3px 10px;
    line-height: 1;
}

.multisteps-form-field-select {
    position: relative;
}

.multisteps-form .multisteps-form-field-select::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 12px;
    height: 13px;
    bottom: 0;
    margin: auto 0;
    line-height: 1.7;
}

.multisteps-form .multisteps-form__content {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-column-gap: 15px;
}

.multisteps-form .multisteps-form__content-full {
    display: block;
}

.multisteps-form-field {
    margin-bottom: 15px;
}

button.disabled {
    pointer-events: none;
    background: #EBEBE4 !important;
}

a.btn-left,
button.btn-left {
    float: left;
    margin-right: 20px;
}

.multisteps-form-btn-field button.tutis-btn,
.multisteps-form-btn-field a.tutis-btn {
    margin-bottom: 0;
}

.multisteps-form .multi-radio-container input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.multisteps-form .multi-radio-container {
    margin-bottom: 10px;
    line-height: 1.2;
}

p.label {
    font-weight: 500;
    margin-bottom: 10px;
}

.multisteps-form__progress-btn {
    pointer-events: none;
}

.multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}

.multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
}

.multisteps-form__progress-btn:first-child:after {
    display: none;
}

.multisteps-form__progress-btn.js-active {
    color: #007bff;
}

.multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.multisteps-form__panel {
    display: none;
}

.multisteps-form__panel.js-active {
    display: block;
}

.multisteps-form__panel {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 24px;
    border-radius: .25rem!important;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.expand.hidden {
    display: none;
}

.multisteps-form-btn-field a.btn-left,
.multisteps-form-btn-field button.btn-left {
    color: #0069d9;
    background-color: #ffffff;
    border-color: #0062cc;
}

.multisteps-form-btn-field a.btn-left:hover,
.multisteps-form-btn-field button.btn-left:hover {
    color: #ffffff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.tutis-filter-form input.tutis-input-disabled {
    background: #EBEBE4;
}

.multisteps-form .tutis-employer-detail-col {
    grid-template-columns: 2fr 1fr 1fr;
}

.multisteps-form div.added-col2 {
    grid-template-columns: 1fr 1fr;
}

.multisteps-form div.added-col1 {
    grid-template-columns: 1fr;
}

.multisteps-form .tutis-b-address-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.multisteps-form .tutis-b--middle-address-col {
    grid-template-columns: 1fr 2fr 1fr;
}

.tutis-employer-row {
    margin-bottom: 10px;
}

.multisteps-form .tutis-employer-enrolled-by {
    grid-template-columns: 1fr 1fr;
}

.multisteps-form .tutis-employer-enrolled-by-phone {
    grid-template-columns: 1fr 3fr 5fr;
}

.tutis-employer-row,
.tutis-review-invoice-student-list a.tutis-delete-student,
.tutis-review-invoice-student-list p.multisteps-form__title {
    display: none;
}

.tutis-review-invoice-student-list {
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.tutis-review-invoice-student-list .student-result-list-container {
    margin-bottom: 0;
}

.tutis-invoice-result .tutis-grid-table {
    grid-template-columns: 4fr 1fr 1fr;
} 

.tutis-invoice-result .tutis-grid-table span {
    margin-bottom: 0;
}

.tutis-invoice-result .tbbodycontent {
    grid-column: 1/4;
}

.tutis-invoice-result .tutis-grid-table strong {
    font-size: 16px;
}

.tutis-invoice-result .tutis-grid-table {
    margin-bottom: 20px;
}

.multisteps-form-field {
    position: relative;
    padding-top: 9px;
}

.multisteps-form-field label {
    opacity: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #007bff;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-weight: 700;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.multisteps-form-field label.show-label {
    opacity: 1;
    position: absolute;
    top: -5px;
    left: 10px;
}

.tutis-total-result a,
.tutis-total-result span {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.tutis-total-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    padding: 15px;
}

.tutis-total-result a {
    text-decoration: none;
    color: #0062CC;
}

.tutis-total-result .right {
    text-align: right;
}

.tutis-total-result div {
    padding: 10px 0;
    line-height: 1.2;
}

.tutis-total-result .last {
    border-top: 2px solid #000000;
    margin-top: 15px;
}

#coursefee1 {
    display: none;
}

.apply-discount-content {
    padding: 20px;
}

.apply-discount-content h3 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.2;
    color: #2c2c2c;
}

.apply-discount-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
}

.discount-form-field {
    margin-bottom: 20px;
}

.discount-form-field input {
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    text-decoration: none solid rgb(18, 18, 18);
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 42px;
    margin-bottom: 10px;
}

.apply-discount-content button {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none !important;
    cursor: pointer;
}

.discount-button-field {
    text-align: right;
}

a.pay-later-btn {
    text-decoration: none !important;
    color: #0062CC !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}

div.hide-field {
    display: none;
}

div#securepay-ui-container iframe {
    padding: 10px;
    border: 0;
}

span.span-bold {
    font-weight: 700;
}

p.tutis-notification {
    color: red;
    margin-bottom: 10px;
}

#quoteID1,
#paylaterbtn1 {
    display: none;
}

.tutis-filter-select .ss_dib {
    width: 100% !important;
    margin: 0 !important;
    cursor: pointer;
    z-index: 10;
}

.tutis-filter-select .ss_button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    font-weight: 400;
    padding: 11px 10px;
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    line-height: 1.3;
    width: auto !important;
}

.tutis-filter-select .ss_ul li,
.tutis-filter-select .ss_ulsearch .search input,
.tutis-filter-select .ss_ulsearch .nosearch {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #121212;
    font-weight: 400;
    line-height: 1.3;
}

.tutis-filter-select .ss_ulsearch,
.tutis-filter-select .ss_ulsearch .ss_ul {
    width: 100% !important;
}

@media screen and (max-width: 1024px) {
    .multisteps-form__panel {
        right: 0;
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .tutis-col {
        display: block;
    }

    .tutis-filter-field {
        margin-bottom: 20px;
    }

    .tutis-grid-table .tutis-hide-mobile {
        display: none;
    }

    .tutis-grid-table { 
        grid-template-columns: 50% 1fr;
    }   

    .tbbodycontent,
    .tutis-pagination {
        grid-column: 1/3;
        grid-template-columns: 1fr;
    }

    .tutis-grid-table .tutis-btn {
        margin: 0 auto;
    }

    .tutis-grid-table .tbbody {
        justify-content: center;
    }

    .tutis-grid-table .tutis-btn.display-mobile {
        display: block;
    }

    .tutis-grid-table {
        display: block;
    }   

    .tbbodycontentcol p:last-of-type {
        margin-bottom: 15px;
    }

    .student-result-list {
        display: block;
        grid-template-columns: 20% 1fr;
    }

    .multisteps-form .multisteps-form__content,
    .tutis-student-result {
        display: block;
    }

    .multisteps-form__panel {
        width: auto;
    }

    .tutis-filter-form {
        max-width: 400px;
    }

    .tutis-result {
        max-width: 400px;
    }

    .multisteps-form .tutis-employer-detail-col,
    .multisteps-form .tutis-b-address-col,
    .multisteps-form .tutis-b--middle-address-col,
    .multisteps-form .tutis-employer-enrolled-by,
    .multisteps-form .tutis-employer-enrolled-by-phone {
        display: block
    }

    .tutis-employer-row {
        margin-bottom: 10px;
    }

    a.pay-later-btn {
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
    }
}

@media (min-width: 500px) {
    .multisteps-form__progress-btn {
        text-indent: 0;
    }
}